.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

.center {
  margin: auto;
  width: 10%;
  border: 3px solid #73AD21;
  padding: 10px;
}
